In [1]:
import csv
from cassandra.cluster import Cluster
import json
cluster = Cluster()
session = cluster.connect()
session.set_keyspace("bigdata")
session.execute("CREATE TABLE IF NOT EXISTS training (txn_id varchar PRIMARY KEY,cc_no bigint ,txn_time varchar, year smallint, month smallint, day smallint, hour smallint, minute smallint,amount float, cc_provider int, merchant varchar,merchant_index smallint, country_name varchar, country_code varchar,country_index smallint, age int, marital_status varchar,marital_status_index smallint,gender varchar,gender_index smallint,loan varchar,loan_index smallint, status varchar,status_index smallint)")
with open('50_50.csv', 'r',encoding="ISO-8859-1") as csvfile:
        reader=csv.reader(csvfile)
        for row in reader:
        	#print(row)
        	#msg=json.loads(row)
        	#print(msg)
        	dic={
        	"txn_id":row[0],
        	"cc_no":row[1],
        	"txn_time":row[2],
        	"year":row[3],
        	"month":row[4],
        	"day":row[5],
        	"hour":row[6],
        	"minute":row[7],
        	"amount":row[8],
        	"cc_provider":row[9],
        	"merchant":row[10],
            "merchant_index":row[11],
        	"country_name":row[12],
        	"country_code":row[13],
            "country_index":row[14],
        	"age":row[15],
        	"marital_status":row[16],
            "marital_status_index":row[17],
        	"gender":row[18],
            "gender_index":row[19],
        	"loan":row[20],
            "loan_index":row[21],
        	"status":row[22],
            "status_index":row[23]
        	}            
        	r = json.dumps(dic)
        	#print(r)
        	strq=" INSERT INTO training JSON "+"'"+r+"'"
        	session.execute(strq)